body{
    margin: 0;
    padding: 1rem;
    font-family: Arial, sans-serif;
    width:300px;
    height: 150px;
}

input{
    width:100%;
    padding:0.5rem;
    box-sizing: border-box;
    border-color: #5f9341;
    border-style: solid;

}

button{
    background-color:#5f9341;
    color:white;
    padding:1rem 2rem;
    margin-top:0.5rem;
    border-radius: 5%;
    border-color: #5f9341;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(90deg, #4bb502, #99e200);
}

#delete-btn {
    color: #5f9341;
    background-color:white ;
}

#delete-btn:hover {
    background: linear-gradient(90deg, #e20400,#dba206);
    color: white;
}

ul{
    margin-top: 2rem;
    list-style: none;
    padding-left:0;
}

li{
    margin-top: 0.5rem;
}

li a {
    color:#5f9341;
}

